*{
  box-sizing: border-box;
}

/* Use a mobile-first approach: style for mobile first, then larger screens */
html,
body {
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif; /* Your preferred font */
  background-color: #005A8B;
  overflow: hidden auto;
}

h1, h2, h3, ul, li {
    font-family: 'DM Serif Text', serif;
    font-weight: 400;
    font-style: normal;
}


/* Make your app container fill the available height and center its content */
.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Vertical centering */
  align-items: center; /* Horizontal centering */
  height: 100vh; /* Use the full height of the viewport */
  width: 100%;
  max-width: 1024px;
  margin: auto;
  background-color: #fff;
  overflow: hidden;
}

.App-Header {
    display: flex;
    background-color: #005A8B;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    width: 100%;
    margin-bottom: auto;
    height: 80px;
    padding: 4vh 0;
    box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.2);
}

.logo{
    width: auto; min-width: 132px;
    height: 6vh; min-height: 50px; max-height: 75px;
    
}


.App-Title {
    display: flex;
    flex: 0 1 calc(25px + 8vh);
    color:#005A8B;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: calc(10px + .5vh);
}

#Title {
    font-size: calc(2vh + 2vw);
}

.Library-Select{
    display: flex;
    flex: 0 1 auto;
    height: 30%;
    width: 80%;
    min-height: 100px;
    max-height: 250px;
    border-radius: calc(1vh + 5px);
    overflow-y: hidden;
    margin-top: calc(17px + .5vh);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.Library-Select h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: .75vh 1vh;
    font-size: calc(10px + .5vw + .5vh);
    background-color: #005A8B;
    border-bottom: solid #78AFE9;
}

.sidebar, .File-Select {
    color: white;
}
.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1.25;
    position: relative;
}

#libraryList {
    overflow-y: auto;
    flex-grow: 1;
}

#libraryList::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100%); /* Adjust this depending on where you want the line */
    width: 2px; /* Width of the line */
    background-color: #005A8B; /* Color of the line */
    z-index: 1;
}

.sidebar li:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}

.audio-item:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}

.File-Select {
    display: flex;
    flex-direction: column;
    flex: 1.75;
    position: relative;
}

#audioList {
    overflow-y: auto;
    flex-grow: 1;
}

.audio-list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    
}

.audio-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75vh 0;
}

.audio-item.empty {
    padding-left: 1.75vh;
}
.audio-item.empty:hover {
    background-color: transparent !important;
}

.audio-name {
    position: relative;
    display: inline-block;
    color: #005A8B;
    min-width: 100%;
    
}
.name-track {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    position: relative;
    max-width: 78%;
    padding-left: 1.75vh;
}

@keyframes scroll-text {
    0%, 100% { 
        transform: translateX(0); 
    }
    50% { 
        transform: translateX(calc(-100% + 100px)); /* Adjust 100px to ensure it bounces back before the text fully exits the view */
    }
}

.audio-name.long-name {
    animation: scroll-text 10s linear infinite;
}
.audio-name:hover {
    /* Apply the scrolling animation on hover */
    animation: scroll-text 10s linear infinite;
}


.time-code {
    flex: 1;
    color: #005A8B;
    font-size: calc(4px + .5vw + .5vh);
    max-width: 21%;
    text-align: center;
}

.File-Select.files::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(75%); /* Adjust this depending on where you want the line */
    width: 2px; /* Width of the line */
    background-color: #005A8B; /* Color of the line */
    z-index: 1;
}

h3 {
    color: white;
    font-size: calc(5px + .5vw + .5vh);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
}

ul li {
    padding: .75vh 1.75vh;
    font-size: calc(8px + .5vw + .5vh);
    color: #005A8B;
}

li.selected {
    color: #132245;
    background-color: #FEDE42;
    border-top: solid #005A8B; border-bottom: solid #005A8B; 
    box-shadow: inset 0px -1px 2px 1px rgba(0, 0, 0, 0.2);
}
li.selected:first-child {
    border-top: none;
}

li.selected:hover {
    background-color: #FEDE42;
}
/* audio player styles */
.Audio-Player {
    flex: 0 1 calc(100px + 35vh);
    display: flex;
    flex-direction: column;
    border-radius: calc(1vh + 5px);
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: calc(10px + 5vh) 0;
    padding: 20px;
    color: white;
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.2);
    background-color: #005A8B;
}

.title-track{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    position: relative;
    width: 70%;
    text-align: center;
}
.audio-title {
    display: inline-block;
    position: relative;
    margin: 1vh 0;
    font-size: calc(12px + .5vw + .5vh);
    
    
}
.long-name {
    animation: scroll-text 10s linear infinite;
}

#bigPlayPauseBtn {
    font-size: 15vh;
    margin: auto 0;
}

.playback-time {
    margin: 0.5vh 0.5vh 0.5vh 0;
    width: 90%;
    text-align: right;
}

.seek-slider {
    appearance: none;
    width: 90%;
    cursor: pointer;
    background: white;
    border-radius: 100vh;
    padding: 0;
    margin:0;
}

.seek-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Required for WebKit browsers */
    appearance: none;
    width: 3vh; /* Width of the thumb */
    height: 3vh; /* Height of the thumb */
    margin-top: -.75vh;
    background: #005A8B; /* Thumb background color */
    cursor: pointer; /* Cursor on hover */
    border: solid 4px #78AFE9;
    border-radius: 50%; /* Makes it circular */
}

/* Styles the slider track for WebKit browsers */
.seek-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 1.5vh;
}
.seek-slider::-moz-range-thumb {
    -webkit-appearance: none; /* Required for WebKit browsers */
    appearance: none;
    width: 3vh; /* Width of the thumb */
    height: 3vh; /* Height of the thumb */
    margin-top: -.75vh;
    background: #005A8B; /* Thumb background color */
    cursor: pointer; /* Cursor on hover */
    border: solid 4px #78AFE9;
    border-radius: 50%; /* Makes it circular */
}

/* Styles the slider track for WebKit browsers */
.seek-slider::-moz-range-track {
    width: 100%;
    height: 1.5vh;
}

/* Optional: style for hover effect on the slider */
.seek-slider:hover {
    opacity: 1; /* Full opacity on hover */
}

.playBackCtrls {
    margin: 2vh 0 3vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 90%;
}
.play-pause-skip {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.play-pause-btn, .skip-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 3vh;
    padding: 0 1vw;
}

.special-functions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5% 0 auto;
}

.function-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2.5vh;
    padding: 0 1vw;
}

#repeatBtn {
    opacity: 0.5;
}



.App-Footer {
    display: flex;
    background-color: #005A8B;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    width: 100%;
    padding: 4vh 0;
    height: 80px;
    margin-top: auto;
}
 
@media (min-width: 820px) and (max-width:1024px) {
    html, body {
        background-color: #fff;
    }
    .App {
        margin: auto; /* This will center the max-width container */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better focus */
      }
      .Library-Select {
        max-height: 250px
    }
      .Audio-Player {
        margin: calc(10px + 3vh) 0;
    }
} 

@media (min-width: 1025px) {
    html, body {
        background-color: #fff;
    }
    .App {
      max-width: 820px; /* Set a max-width if you want to restrict the app size */
      margin: auto; /* This will center the max-width container */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better focus */
    }
    .App-Header {
        padding: 0;
    }
    .logo {
        max-height: 50px;
    }
    #Title {
        font-size: calc(10px + 1vh + 1vw);
    }
    .Library-Select {
        max-height: 250px
    }
    .Library-Select h3 {
        font-size: calc(10px + .25vw + .5vh);
    }
    h3 {
        font-size: calc(5px + .25vw + .25vh);
    }
    ul li {
        padding: .5vh 2vh;
        font-size: calc(8px + .25vw + .5vh);
    }
    .audio-item {
        padding: .5vh 0;
    }
    .audio-item.empty {
        padding-left: 1.5vh;
    }
    .name-track {
        padding-left: 1.5vh;
    }
    .time-code {
       font-size: calc(4px + .25vw + .5vh);
    }
    .Audio-Player {
        margin: calc(10px + 3vh) 0;
    }
    .App-Footer {
        padding: 0;
    }
    
    

}