<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stethoscope Sound Library</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="App">
      <header class="App-Header">
        <img src="{{url_for('static', filename="/images/umb-logo.svg")}}"
        alt="UMB Logo" class="logo"/>
      </header>
      <div class="App-Title">
        <h1 id="Title">Stethoscope Sound Library</h1>
      </div>
      <div class="Library-Select">
        <div class="sidebar">
          <h3>Libraries</h3>
          <ul id="libraryList"></ul>
        </div>
        <div class="File-Select" id="File-Select">
          <h3>Audio Files</h3>
          <ul id="audioList"></ul>
        </div>
      </div>
      <div class="Audio-Player" id="audioPlayer">
        <h2 class="audio-title">Audio File Title</h2>
        <button id="bigPlayPauseBtn" class="play-pause-btn">
          <i class="fa-regular fa-circle-play"></i>
        </button>
        <input type="range" id="seekSlider" value="0" class="seek-slider" />
        <div class="playBackCtrls">
          <button id="prevBtn" class="skip-btn">
            <i class="fa-solid fa-backward-step"></i>
          </button>
          <button id="playPauseBtn" class="play-pause-btn">
            <i class="fa-solid fa-play"></i>
          </button>
          <button id="nextBtn" class="skip-btn">
            <i class="fa-solid fa-forward-step"></i>
          </button>
        </div>
      </div>
      <footer class="App-Footer">
        <h3 id="Footer-text">
          Copyright &copy <span id="copyrightYear">2024</span>
          University of Massacussetts Boston
        </h3>
      </footer>
    </div>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
  </body>
</html>
