* {
    box-sizing: border-box;
}

/* Styling for iPads first and then larger screens */
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #005A8B;
    font-size: calc(0.5vh + 0.5vw);
}

/* App Font Styles */
h1, h2, h3, ul, li {
    font-family: 'DM Serif Text', serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

/* App Container Flex Box */
.App {
    display: flex;
    flex-direction: column; /* Each app section is a separate row */
    align-items: center; /* Horizontal center alignment for all sections */
    gap: 1vh; /* Vertical gap between sections */
    margin: 0 auto;
    height: 100%; /* Fill the entire height of the viewport */
    background-color: #fff;
}

/* Header and Footer styles */ 
.App-Header, .App-Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    height: clamp(4vh, 5%, 6vh); /* Clamped height for multiple device screen heights */
    width: 100%;
    background-color: #005A8B;
}

/* Header and Logo styles */
.App-Header {
    flex-direction: column; /* Stack logo and department title */
    padding: 6vh 0;
    box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.2); /* Adds depth */
}

.logo {
    height: clamp(3vh, 50px, 6vh);
}

#Department-Title {
    margin: 1vh 0 0;
    font-size: 3rem;
}

/* App Title styles */
#Title {
    text-align: center;
    font-size: 4rem;
    color:#005A8B;
}

/*Audio Library styles */
.Audio-Library, .Library-Select, .File-Select {
    display: flex;
}

.Audio-Library {
    flex: 0 1 auto;
    height: clamp(calc(2vh + 100px), 30%, calc(2vh + 250px));
    width: 80%;
    overflow: hidden; /* cuts any overflow in the container */
    border-radius: calc(1vh + 5px);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.Audio-Library h3 {
    margin: 0;
    padding: 0.75vh 1vh;
    font-size: 2rem;
    border-bottom: solid #78AFE9;
    background-color: #005A8B;
}

.Library-Select, .File-Select {
    flex-direction: column;
    position: relative;
}

#libraryList, #audioList {
    flex-grow: 1;
    overflow-y: auto;
}

.Library-Select li:hover, .audio-item:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}

/* Library Selection Styles */
.Library-Select {
    flex: 40%;
}



/* File Selection Styles */
.File-Select {
    flex: 60%;
}

.File-Select::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(0%);
    z-index: 10; /* Adjust this depending on where you want the line */
    width: 0.25rem; /* Width of the line */
    content: '';
    background-color: #005A8B; /* Color of the line */
}

/* Footer styles */
.App-Footer {
    margin-top: auto; /* Pushes footer to bottom of App container */
    padding: 4vh 0;
}

#Footer-text {
    font-size: calc(1.5rem);
}

