* {
    box-sizing: border-box;
}

/* Styling for iPads first and then larger screens */
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #005A8B;
}

/* App Font Styles */
h1, h2, h3, ul, li {
    font-family: 'DM Serif Text', serif;
    font-weight: 400;
    font-style: normal;
}

/* App Container Flex Box */
.App {
    display: flex;
    flex-direction: column; /* Each app section is a separate row */
    align-items: center; /* Horizontal center alignment for all sections */
    margin: 0 auto;
    height: 100%; /* Fill the entire height of the viewport */
    background-color: #fff;
}

.App-Header, .App-Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 2% 0;
    height: 10%;
    width: 100%;
    background-color: #005A8B;
}

/* Header an Logo styles */
.App-Header {
    box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.2);
}

.logo {
    height: clamp(6vh, 75px, 8vh);
}

#Title {
    text-align: center;
    font-size: calc(2vh + 2vw);
    color:#005A8B;
    
}
.App-Footer{
    margin-top: auto;
}

