<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./test.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="audio-player">
      <h2 class="audio-title">Audio File Title</h2>
      <button id="bigPlayPauseBtn" class="play-pause-btn">
        <i class="fa-regular fa-circle-play"></i>
      </button>
      <input type="range" id="seekSlider" value="0" class="seek-slider" />
      <div class="playBackCtrls">
        <button id="prevBtn" class="skip-btn">
          <i class="fa-solid fa-backward-step"></i>
        </button>
        <button id="playPauseBtn" class="play-pause-btn">
          <i class="fa-solid fa-play"></i>
        </button>
        <button id="nextBtn" class="skip-btn">
          <i class="fa-solid fa-forward-step"></i>
        </button>
      </div>
    </div>
    <script src="./test.js"></script>
  </body>
</html>
